torch
streamlit==1.34.0
torchvision
numpy
opencv-python-headless
matplotlib
streamlit-drawable-canvas
pyyaml
tqdm
easydict
scikit-image
scikit-learn
tensorflow
joblib
pandas
albumentations
hydra-core
pytorch-lightning
tabulate
kornia
webdataset
packaging
wldhx.yadisk-direct
altair
